ul {
  list-style: none;
}

img {
  height: 50px;
  border-radius: 100%;
  border: 1px solid blue;
}

span { 
  padding: 5px;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact-container {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid black;
}

.agenda-container {
  width: 50%;
}

section { 
  margin-top: 100px;
}