ul {
  list-style: none;
}

img { 
  height: 50px;
  border-radius: 100%;
  border: 1px solid blue;
}

.contact-container {
  display: grid;
  grid-template-columns: 70px auto;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 10px;
  width: 400px;
}

.details-container { 
  display: flex;
  flex-direction: column;
}